body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/lighting-effect-app.jpg");
    background-size: cover;
  }
  
  /* Styling the links inside of the navigation bar */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid green;
}

header nav ul li a {
  color:  rgb(197, 4, 171);
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0 0 10px #4CAF50;
}

nav ul li a {
  color:  rgb(197, 4, 171);
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0 0 10px #4CAF50;

}

.section-titles {
  color:  rgb(197, 4, 171);
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0 0 10px #4CAF50;
}

.section-title {
  color:  rgb(197, 4, 171);
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0 0 10px #4CAF50;
}

.about-me-text {
  font-size: 25px;
  color: black;
}

li {
  display: inline;
}

.flex-containers {
  display: flex;
}

.flex-containers h2 {
  margin: 10px;
  border-right: 4px solid green;
  width: 200px;
}

.my-photo {
  -webkit-box-shadow: 0px 0px 18px 11px #396D2C; 
  box-shadow: 0px 0px 18px 11px #396D2C;
  margin: 10px;
  height: 150px;
  width: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33.33%;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 18px 11px #396D2C; 
  box-shadow: 0px 0px 18px 11px #396D2C;
}

.column-larger {
  width: 100%;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 18px 11px #396D2C; 
  box-shadow: 0px 0px 18px 11px #396D2C;
}

/* Clean up the padding or margin below, maybe google it */

.work-title {
  
}

.padding-attempt {
  padding-top: 75px;
}

/* Change the color of links on hover */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title

@media screen and (max-width: 900px) {
  li {
    display: block;
    color: white !important;
  }
}